root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,ps1,ps}]
indent_style=tab
indent_size=tab
insert_final_newline=true
trim_trailing_whitespace=true


[*.{config,csproj,json,nuspec,props,resxtargets,targets,sh,cmd,md}]
indent_style=space
indent_size=2
tab_width=2

